/* Variables */
:root {
  --Dark-blue-intro-email-sign-up: hsl(217, 28%, 15%);
  --Dark-blue-main-background: hsl(218, 28%, 13%);
  --Dark-blue-footer-background: hsl(216, 53%, 9%);
  --Dark-blue-testimonial-background: hsl(219, 30%, 18%);
  --cyan: hsl(176, 68%, 64%);
  --Blue: hsl(198, 60%, 50%);
  --Light-Red: hsl(0, 100%, 63%);
  --White: hsl(0, 0%, 100%);
  --Headings-cta-Header-navigation: "Raleway", sans-serif;
}

/* Reset */
* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  outline: none;
}

ul,
li,
a {
  text-decoration: none;
  list-style: none;
}

/* Font */
body {
  font-family: "Open Sans", sans-serif;
  font-size: 0.7rem;
}

/* Mobile styles */
body {
  margin: 0 auto;
  width: 100vw;
}

/* Hero styles */
.hero {
  background-color: var(--Dark-blue-intro-email-sign-up);
  margin: 0 auto;
  width: 100vw;
}

.hero-nav {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
  margin-bottom: 2.5rem;
  padding: 2rem 1.8rem;
}

.hero-logo__container {
  max-width: 200px;
  justify-content: flex-start;
}

.hero-logo {
  max-width: 80px;
}

.hero-nav__links {
  display: flex;
  justify-self: flex-end;
  gap: 20px;
}

.hero-nav__link a {
  color: var(--White);
  font-weight: 400;
  font-size: 0.875rem;
  cursor: pointer;
}

.hero-nav__link a:hover {
  text-decoration: underline;
  font-weight: bold;
}

.hero-container {
  background-image: url(images/bg-curvy-mobile.svg);
  background-position: center bottom;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  padding: 0 1.8rem;
  margin: 0 auto;
  outline: none;
}

.hero-images__container {
  max-width: 400px;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.hero-img {
  max-width: 100%;
}

.hero-header {
  color: var(--White);
  font-family: var(--Headings-cta-Header-navigation);
  font-size: 1.5rem;
  line-height: 1.5;
  margin-bottom: 0.9375rem;
  max-width: 450px;
  margin: 0 auto;
  text-align: center;
}

.hero-paragraph {
  color: var(--White);
  font-size: 1rem;
  max-width: 500px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 2rem;
  line-height: 1.5;
}

.hero-cta {
  width: 15rem;
  margin: 0 auto;
  color: white;
  font-weight: 700;
  display: inline-block;
  padding: 1rem;
  border-radius: 1.75rem;
  background: linear-gradient(132.02deg, #63e1d9 -31.85%, #34a0cd 100%);
  box-shadow: 2px 3px 6px rgb(0 0 0 / 16%);
  margin-bottom: 2rem;
  cursor: pointer;
  outline: none;
  font-size: 0.9rem;
  text-align: center;
}

/* Main styles */

.container {
  background-color: var(--Dark-blue-main-background);
  padding: 3rem 1.8rem;
  text-align: center;
}

.main-features {
  margin: 0 auto;
  max-width: 700px;
  padding-bottom: 10rem;
}

.main-feature-1 {
  margin-bottom: 5rem;
}

.feature-header {
  color: var(--White);
  font-size: 1.3rem;
  font-family: var(--Headings-cta-Header-navigation);
  margin-bottom: 0.7rem;
}

.feature-paragraph {
  color: var(--White);
  margin: 0 auto;
  max-width: 400px;
  text-align: center;
  font-size: 0.875rem;
  line-height: 1.5;
}

.main-feature-2 {
  margin-bottom: 5rem;
}

.main-feature-3 {
  margin-bottom: 5rem;
}

/* reason styles */

.reason {
  text-align: left;
  max-width: 500px;
  margin: 0 auto;
  padding-bottom: 8rem;
}

.reason-img__container {
  max-width: 400px;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.reason-img {
  max-width: 100%;
}

.reason-header {
  color: var(--White);
  font-family: var(--Headings-cta-Header-navigation);
  font-size: 1.12rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

.reason-paragraph {
  font-size: 0.875rem;
  color: var(--White);
  max-width: 400px;
  margin-bottom: 1rem;
}

.span {
  font-size: 0.875rem;
  color: var(--White);
  max-width: 400px;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.reason-link {
  font-size: 0.75rem;
  color: #65e2d9;
  display: flex;
  align-items: center;
  position: relative;
  gap: 5px;
  margin-bottom: 2rem;
  cursor: pointer;
}

.reason-link::before {
  content: "";
  position: absolute;
  width: 9rem;
  height: 1px;
  bottom: -4px;
  background-color: #65e2d9;
}
.reason-link a {
  color: var(--cyan);
  font-size: 0.875rem;
}

/* Testimonial styles */
.testimonials {
  text-align: center;
  padding-top: 2rem;
  max-width: 500px;
  margin: 0 auto;
  background-image: url(images/bg-quotes.png);
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: top 9px left 5px;
}

.testimonial-1 {
  background-color: var(--Dark-blue-testimonial-background);
  padding: 1.5rem;
  text-align: left;
  border-radius: 10px;
  margin-bottom: 2rem;
}

.testimonial-paragraph {
  color: var(--White);
  font-size: 0.875rem;
  line-height: 1.8;
  margin-bottom: 1rem;
}

.testimonial-profile {
  display: flex;
  gap: 10px;
  align-items: center;
}

.profile__img {
  width: 30px;
  border-radius: 50%;
}

.profile-name {
  color: var(--White);
  margin-bottom: 0.3rem;
}

.profile-job {
  color: var(--White);
}

.testimonial-2 {
  background-color: var(--Dark-blue-testimonial-background);
  padding: 1.5rem;
  text-align: left;
  border-radius: 10px;
  margin-bottom: 2rem;
}

.testimonial-3 {
  background-color: var(--Dark-blue-testimonial-background);
  padding: 1.5rem;
  text-align: left;
  border-radius: 10px;
  margin-bottom: 2rem;
}

/* Contact us  styles */
.contact-us {
  max-width: 500px;
  margin: 0 auto;
  position: relative;
  top: 10rem;
}

.contact-us__container {
  text-align: center;
  padding: 2rem;
  border-radius: 10px;
  max-width: 500px;
  background-color: var(--Dark-blue-testimonial-background);
}

.contact-us__header {
  font-family: var(--Headings-cta-Header-navigation);
  color: var(--White);
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.contact-us__paragraph {
  color: var(--White);
  line-height: 1.6;
  font-size: 0.875rem;
  margin-bottom: 2rem;
}

.sign-up__input {
  font-size: 0.625rem;
  width: 100%;
  border-radius: 1.75rem;
  box-shadow: 1px 1px 3px rgb(7 4 59 / 16%);
  padding: 1rem 1.875rem;
  margin-bottom: 1.5rem;
  outline: none;
  color: #2a3649;
  outline: none;
  border-color: 0;
  border: none;
}

.sign-up__button {
  color: white;
  font-weight: 700;
  display: inline-block;
  width: 100%;
  padding: 1rem;
  border-radius: 1.75rem;
  background: linear-gradient(132.02deg, #63e1d9 -31.85%, #34a0cd 100%);
  box-shadow: 2px 3px 6px rgb(0 0 0 / 16%);
  border: none;
}

/* Footer styles */

footer {
  background-color: var(--Dark-blue-footer-background);
  padding: 13rem 2rem 2rem;
}

.footer-logo {
  width: 120px;
  margin-bottom: 2.5rem;
}

.footer-paragraph {
  color: var(--White);
  font-size: 0.875rem;
}

.address-img {
  width: 20px;
  height: 18px;
}

.phone-img {
  width: 20px;
  height: 18px;
}

.email-img {
  width: 20px;
  height: 18px;
}

.footer-address {
  display: flex;
  justify-content: center;
  max-width: 500px;
  gap: 20px;
  margin-bottom: 1rem;
}

.phone-no {
  display: flex;
  max-width: 500px;
  gap: 20px;
  margin-bottom: 1rem;
}

.email {
  display: flex;
  max-width: 500px;
  gap: 20px;
  margin-bottom: 3rem;
}

.footer-page__links li a {
  color: var(--White);
  cursor: pointer;
  font-size: 0.875rem;
}

.footer-page__links li a:hover {
  font-weight: 700;
  text-decoration: underline;
}

.footer-page__links div:nth-of-type(1) {
  margin-bottom: 3rem;
}

.footer-page__links div:nth-of-type(2) {
  margin-bottom: 3rem;
}

.footer-page__links div li:nth-child(1) {
  margin-bottom: 1rem;
}

.footer-page__links div li:nth-child(2) {
  margin-bottom: 1rem;
}
.footer-page__links div li:nth-child(3) {
  margin-bottom: 1rem;
}
.footer-page__links div li:nth-child(4) {
  margin-bottom: 1rem;
}

.icons-links {
  display: flex;
  gap: 20px;
  justify-content: center;
  color: var(--White);
  cursor: pointer;
}

.fab {
  display: inline-block;
  color: white;
  width: 40px;
  height: 40px;
  border: 1px solid var(--White);
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  transition: 300ms;
  font-size: 0.875rem;
}

.fab:hover {
  border: 1px solid var(--cyan);
  color: var(--cyan);
}

/* Tablet styles */
@media screen and (min-width: 768px) {
  /* Hero styles */
  .hero-logo {
    max-width: 100px;
  }

  .hero-nav__links {
    gap: 60px;
  }

  .hero-nav__link a {
    font-size: 1.1rem;
  }

  .hero-nav__link a:hover {
    text-decoration: underline;
  }

  .hero-images__container {
    max-width: 690px;
  }

  .hero-cta:hover {
    background: #8adae3;
  }

  /* Container */
  /* Features styles */
  .main-features {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    place-items: baseline;
  }

  .main-feature-1 {
    margin: 0;
  }
  .main-feature-2 {
    margin: 0;
  }
  .main-feature-3 {
    margin: 0;
  }
  .main-feature-4 {
    margin: 0;
  }

  /* Reason styles */
  .reason-img__container {
    max-width: 600px;
  }

  .reason-paragraph {
    font-size: 0.875rem;
    color: var(--White);
    max-width: 600px;
    margin-bottom: 1rem;
  }

  .reason-link a:hover {
    color: white;
  }

  .reason-link:hover::before {
    content: "";
    background-color: white;
  }

  .reason-img:hover {
    fill: white;
  }

  /* Testimonial styles */
  .testimonials {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    padding-top: 3rem;
    background-size: 50px;
    max-width: 700px;
  }

  .testimonial-1 {
    margin: 0;
  }
  .testimonial-2 {
    margin: 0;
  }
  .testimonial-3 {
    margin: 0;
  }

  /* Contact us styles */

  .contact-us {
    max-width: 700px;
  }
  .contact-us__container {
    padding: 2.625rem 4.8125rem;
    max-width: 700px;
  }
}

/* laptop styles */
@media screen and (min-width: 1024px) {
  /* Hero styles */

  .hero-nav {
    padding-top: 4rem;
  }
  .hero-logo {
    max-width: 170px;
  }

  .hero-header {
    font-size: 2.5rem;
    max-width: 720px;
    margin-bottom: 2rem;
  }

  .hero-paragraph {
    font-size: 1.25rem;
    max-width: 590px;
  }

  /* Container */
  /* Features styles */
  .main-features {
    margin-top: 5rem;
    gap: 80px 150px;
    max-width: 880px;
  }

  /* Reason styles */
  .reason {
    max-width: 1280px;
    display: flex;
    gap: 30px;
    align-content: center;
    align-items: center;
  }

  .reason-img {
    max-width: 640px;
  }

  .reason-information {
    max-width: 640px;
  }

  .reason-header {
    font-size: 2.5rem;
  }

  .reason-paragraph {
    font-size: 1rem;
    max-width: 520px;
  }

  .span {
    max-width: 520px;
    font-size: 1rem;
  }

  .reason-link {
    font-size: 1rem;
  }

  .reason-link::before {
    content: "";
    position: absolute;
    width: 10.3rem;
    height: 1px;
    bottom: -4px;
    background-color: #65e2d9;
  }
  .reason-link a {
    font-size: 1rem;
  }

  /* Testimonial styles */
  .testimonials {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    padding-top: 3rem;
    background-size: 50px;
    max-width: 1280px;
  }

  .testimonial-paragraph {
    line-height: 1.5;
    letter-spacing: 0.5px;
  }

  /* Contact us styles */

  .contact-us {
    max-width: 800px;
  }
  .contact-us__container {
    padding: 2.625rem 4.8125rem;
    max-width: 800px;
  }

  .sign-up-form {
    display: flex;
    align-self: center;
    gap: 20px;
  }

  .sign-up__input {
    margin-bottom: 0;
    width: 400px;
  }

  /* Footer styles */

  .footer-container {
    display: flex;

    margin: 0 auto;
    gap: 50px;
    justify-content: space-between;
  }

  .footer-address {
    max-width: 340px;
    margin: 0;
  }

  .footer-page__links {
    display: flex;
    gap: 40px;
    margin: 0;
  }

  .footer-page__links div:nth-of-type(1) {
    margin: 0;
  }

  .footer-logo {
    width: 120px;
    height: 35px;
  }
}

/* desktop styles */
@media screen and (min-width: 1200px) {
  /* hero styles */
  .hero-nav {
    max-width: 1280px;
    margin: 0 auto;
  }

  .hero-container {
    background-image: url(images/bg-curvy-desktop.svg);
    background-size: 100%;
  }
}
